body {
    background-color: #F2CE7C;
}

.check:hover {
    transition: 0.5s;
    cursor: pointer;
    color: rgb(255, 185, 128) !important;
}

.title-text {
    color: #D22C41;
}

.done-text {
    color: #4E301C;
    font-weight: bold;
}

.check {
    margin-right: 2px;
    color: #F2BE3A !important;
}

form {
    width: 50%;
    margin: auto;
}

.addTodoInput {
    color: #4E301C;
    opacity: 0.9;
    border-bottom: 1px solid #D22C41 !important;
}

.addTodoInput:focus {
    border-bottom: 5px solid #D22C41 !important;
}

.addTodoInput::placeholder {
    color: #4E301C;
}

.collection-item {
    transition: 0.3s ease-in-out;
    background-color: #4E301C !important;
}

.collection-item:hover {
    background-color: #4E301C !important;
    opacity: 0.7;
}

.collection {
    background-color: rgb(255, 255, 255, 0.2);
    width: 50%;
    margin: auto;
}

